<div *ngIf="spinner" class="spinner"></div>
<div class="browse-content">
  <div class="block">
    <div class="row">
      <div class="col-12 heading">
        Browse content
      </div>
    </div>
    <div class="card p-1 table table-striped shadow" *ngIf="allPost && allPost.length">
      <div class="row">
        <div class="col-12">
          <table class="table csvTable border m-0">
            <thead>
              <tr>
                <th>User Id</th>
                <th>Title</th>
                <th>Inspirational Photo URL</th>
                <th>ProductId 1</th>
                <th>ProductId 2</th>
                <th>ProductId 3</th>
                <th>ProductId 4</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of allPost">
                <td>{{data.userID == null ? 'Not Defined' : data.userID}} </td>
                <td>{{data.title == null ? 'Not Defined' : data.title}}</td>
                <td>{{data.inspirationalPhotoURL == null ? 'Not Defined' : data.inspirationalPhotoURL}}</td>
                <td>{{data.product1ID == null ? 'Not Defined' : data.product1ID}}</td>
                <td>{{data.product2ID == null ? 'Not Defined' : data.product2ID}}</td>
                <td>{{data.product3ID == null ? 'Not Defined' : data.product3ID}}</td>
                <td>{{data.product4ID == null ? 'Not Defined' : data.product4ID}}</td>
                <td (click)="deletePost(data)" text-center>
                  <i class="fas fa-trash"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>