<div class="mp4-upload">
  <div class="block">
    <div class="row">
      <div class="col-12 heading">
        Mp4 Upload
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-4">
              <mat-form-field>
                  <mat-select placeholder="Select Purpose">
                    <mat-option value="alternative">Alternative</mat-option>
                    <mat-option value="saved">Saved</mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>