<div *ngIf="spinner" class="spinner">
</div>
<div class="upload-container shadow">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="csv">Upload CSV:</label>
            <input type="file" class="form-control" ng2FileSelect #csv [uploader]="csvUploader" [accept]="['text/csv']" (change)="checkType($event)"
            />
          </div>
        </div>
      </div>
      <div *ngIf=typeError class="error">
        Please Upload <strong>CSV File</strong> Only.
      </div>
      <div *ngIf=badCsv class="error">
        Csv Field <strong>ProductID & ProductName</strong> must not be Empty.
      </div>
      <div class="row" *ngIf="csvUploader.queue.length">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of csvUploader.queue">
                <td>
                  <strong>{{ item?.file?.name }}</strong>
                </td>
                <td nowrap>{{ item?.file?.size/1024/1024 | number:'.1' }} MB</td>
                <td>
                  <div class="progress" style="margin-bottom: 0;">
                    <span class="progress-percent">{{item.progress}}%</span>
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess">
                    <kbd>Success</kbd>
                  </span>
                  <span *ngIf="!item.isSuccess && !item.isError && !item.isCancel && item.progress == 100">
                    <kbd>Processing</kbd>
                  </span>
                  <span *ngIf="!item.isSuccess && !item.isError && !item.isCancel && item.progress != 100">
                    <kbd>Uploading</kbd>
                  </span>
                  <span *ngIf="item.isCancel">
                    <kbd>Cancelled</kbd>
                  </span>
                  <span *ngIf="item.isError">
                    <kbd>Error</kbd>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card my-5 p-1 mx-4 shadow" *ngIf="csvTable.data.length && !typeError">
  <div class="row">
    <div class="col-12">
        <table class="table csvTable border m-0">
          <thead>
            <tr>
              <th>Product Id</th>
              <th>Product Name</th>
              <th>Category</th>
              <th>Retailer</th>
              <th>Description</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of csvTable.data">
              <td>{{data.ProductID == null ? 'Not Defined' : data.ProductID}} </td>
              <td>{{data.ProductName == null ? 'Not Defined' : data.ProductName}}</td>
              <td>{{data.Category == null ? 'Not Defined' : data.Category}}</td>
              <td>{{data.Retailer == null ? 'Not Defined' : data.Retailer}}</td>
              <td>{{data.Description == null ? 'No Description' : data.Description}}</td>
              <td><img class="rounded-circle" src="{{data.ImageFullsizeURL == null ? 'assets/no-image.png' : data.ImageFullsizeURL}}" alt="{{data.ImageFullsizeURL == null ? 'No Image' : data.ProductID}}"></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
