.upload-container {
  width: 50%;
  margin: auto;
  font-size: 1.2vw;
  margin-top: 4rem;
  background: white;
  padding: 3rem;
  border-radius: .5rem;
}

.progress {
  height: 2rem;
  position: relative;
  background: #dbdcdd;
}

.progress-percent {
  text-align: center;
  font-size: 1.2vw;
  width: 100%;
  position: absolute;
  color: white;
}

.table {
  font-size: 1vw;
}

.table thead th {
  vertical-align: bottom;
  background: #dee2e6;
  border: none !important
}

.csvTable th {
  background: #fff;
}

.csvTable tr:nth-child(even) {
  background-color: #fff;
}

.csvTable tr td {
  vertical-align: middle;
  max-width: 0;  
}

.csvTable tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.error {
  text-align: center;
  color: #ca1010;
  font-weight: bold;
}

td img {
  width: 50px;
}

.spinner {
  position: absolute;
  top: 2rem;
  right: 2rem;
}