<div class="create-post">
  <form [formGroup]="userForm" (ngSubmit)="createUser(userForm.value)">
    <div class="block">
      <div class="row">
        <div class="col-12 heading">
          User Management
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col-2">
          <label for="user">Name</label>
          <div class="form-group">
            <input type="text" id="name" formControlName="name" autocomplete="off" required>
            <div *ngIf="userForm.controls.name.invalid && (userForm.controls.name.dirty || userForm.controls.name.touched)" class="alert alert-danger">
              <div *ngIf="userForm.controls.name.errors.required">
                Name is required.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col-2">
          <label for="photo">Profile photo URL</label>
          <div class="form-group">
            <input type="text" id="photo" formControlName="profilePhotoUrl" autocomplete="off" placeholder="profile url with http, https, www"
              required>
            <div *ngIf="userForm.controls.profilePhotoUrl.invalid && (userForm.controls.profilePhotoUrl.dirty || userForm.controls.profilePhotoUrl.touched)" class="alert alert-danger">
              <div *ngIf="userForm.controls.profilePhotoUrl.errors.required">
                URL is required.
              </div>
              <div *ngIf="userForm.controls.profilePhotoUrl.errors.pattern">
                URl must be start with http(s).
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col-12">
          <label for="details">Description</label>
          <div class="form-group">
            <textarea type="text" id="details" formControlName="description" autocomplete="off" required></textarea>
            <div *ngIf="userForm.controls.description.invalid && (userForm.controls.description.dirty || userForm.controls.description.touched)" class="alert alert-danger">
              <div *ngIf="userForm.controls.description.errors.required">
                Description is required.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col-2">
          <button class="btn btn-default" [disabled]="userForm.invalid || loading">{{updateUserData? 'Update': 'Add'}} User</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="card my-5 p-1 mx-4 shadow" *ngIf="userTable && userTable.length">
  <div class="row">
    <div class="col-12">
      <table class="table userTable border m-0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Profile Photo URL</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of userTable">
            <td>{{data.Name == null ? 'Not Defined' : data.Name}}</td>
            <td>{{data.Profile_photo_url == null ? 'Not Defined' : data.Profile_photo_url}}</td>
            <td>{{data.Description == null ? 'Not Defined' : data.Description}}</td>
            <td (click)="updateUser(data)" class="pl-4">
              <i class="fas fa-edit pointer"></i>
            </td>
            <td (click)="deleteUser(data)" class="pl-4">
              <i class="fas fa-trash pointer"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>