<!-- <div class="header-section">
  <div class="logo-holder">
    <i *ngIf="router.url != '/'" class="fa fa-chevron-left left-arrow" (click)="goBack()"></i>
    <img src="assets/images/logo_vogue.jpg" class="logo">
    <i class="fa fa-user user-logo"></i>
  </div>
</div> -->

<div data-collapse="medium" data-animation="default" data-duration="400" class="header w-nav">
  <div class="topnav_maincontainer">
    <div class="topnav_lefticon" (click)="goBack()">
      <img src="assets/images/left-pointing-angle-bracket-arrow-icon-68742.png" class="topnav_lefticon-img">
    </div>
    <div class="topnav_logo">
      <img src="assets/images/VOGUE_LOGO.svg.png" class="topnav_logo-img">
    </div>
    <div class="topnav_righticon">
      <img src="assets/images/Ellipse-1.png" class="topnav_righticon-img">
    </div>
  </div>
</div>