.user-logo {
    align-self: center;
    right: 10px;
    position: absolute;
    font-size: 20px;
}

.left-arrow {
    position: absolute;
    align-self: center;
    left: 10px;
    font-size: 20px;
}

.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100vw;
    background: #fff;
    padding: 5px 0;
}