<div class="create-post">
  <form [formGroup]="postForm" (ngSubmit)="onSubmit(postForm.value)">
    <div class="block">
      <div class="row">
        <div class="col-12 heading">
          Influencer collection
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <input type="text" name="postTitle" placeholder="Enter post title here" formControlName="postTitle">
              </div>
            </div>
            <div class="col-1">
              <button class="save-button" [disabled]="postForm.pristine || postForm.invalid">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col-2">
          <label for="user">User ID</label>
          <div class="form-group">
            <input type="text" name="userId" id="user" formControlName="userId">
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col-2">
          <label for="photo">Inspirational photo URL</label>
          <div class="form-group">
            <input type="text" name="photoUrl" id="photo" formControlName="photoUrl">
          </div>
        </div>
      </div>
    </div>

    <div formGroupName="photoId" class="block">
      <div class="row">
        <div class="col-3">
          <div class="row">
            <div class="col-12 text-center">Product 1 ID</div>
          </div>
          <div class="form-group">
            <input type="text" name="photoId1" formControlName="photoId1">
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-12 text-center">Product 2 ID</div>
          </div>
          <div class="form-group">
            <input type="text" name="photoId2" formControlName="photoId2">
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-12 text-center">Product 3 ID</div>
          </div>
          <div class="form-group">
            <input type="text" name="photoId3" formControlName="photoId3">
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-12 text-center">Product 4 ID</div>
          </div>
          <div class="form-group">
            <input type="text" name="photoId4" formControlName="photoId4">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
