<div *ngIf="spinner" class="spinner">
</div>
<div class="create-post">
  <form [formGroup]="postForm" (ngSubmit)="onSubmit(postForm.value)">
    <div class="block">
      <div class="row">
        <div class="col-12 heading">
          Influencer collection
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <input type="text" name="postTitle" placeholder="Enter post title here" formControlName="title">
              </div>
            </div>
            <div class="col-1">
              <button class="save-button" type="submit" [disabled]="postForm.pristine || postForm.invalid || spinner">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col-2">
          <label for="user">User ID</label>
          <div class="form-group">
            <input type="text" name="userId" id="user" formControlName="userID">
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col-2">
          <label for="photo">Inspirational photo URL</label>
          <div class="form-group">
            <input type="text" name="photoUrl" id="photo" formControlName="inspirationalPhotoURL">
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="row">
        <div class="col-3">
          <div class="row">
            <div class="col-12 text-center">Product 1 ID</div>
          </div>
          <div class="form-group">
            <input type="text" name="photoId1" formControlName="product1ID">
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-12 text-center">Product 2 ID</div>
          </div>
          <div class="form-group">
            <input type="text" name="photoId2" formControlName="product2ID">
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-12 text-center">Product 3 ID</div>
          </div>
          <div class="form-group">
            <input type="text" name="photoId3" formControlName="product3ID">
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-12 text-center">Product 4 ID</div>
          </div>
          <div class="form-group">
            <input type="text" name="photoId4" formControlName="product4ID">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="card my-5 p-1 mx-4 shadow" *ngIf="allPost && allPost.length">
  <div class="row">
    <div class="col-12">
        <table class="table csvTable border m-0">
          <thead>
            <tr>
              <th>User Id</th>
              <th>Title</th>
              <th>Inspirational Photo URL</th>
              <th>ProductId 1</th>
              <th>ProductId 2</th>
              <th>ProductId 3</th>
              <th>ProductId 4</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of allPost">
              <td>{{data.userID == null ? 'Not Defined' : data.userID}} </td>
              <td>{{data.title == null ? 'Not Defined' : data.title}}</td>
              <td>{{data.inspirationalPhotoURL == null ? 'Not Defined' : data.inspirationalPhotoURL}}</td>
              <td>{{data.product1ID == null ? 'Not Defined' : data.product1ID}}</td>
              <td>{{data.product2ID == null ? 'Not Defined' : data.product2ID}}</td>
              <td>{{data.product3ID == null ? 'Not Defined' : data.product3ID}}</td>
              <td>{{data.product4ID == null ? 'Not Defined' : data.product4ID}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

