<div class="sidebar">
  <div class="row no-margin">
    <div class="col title">
      AppName
    </div>
  </div>

<div class="row profile no-margin">
  <div class="col no-padding">
    <div class="row no-margin">
      <div class="col-5 no-padding">
        <img src="assets/profile.png" class="profile-image">
      </div>
      <div class="col-7 profile-name">
        Anonymous User
      </div>
    </div>
  </div>
</div>

  <ul>
    <li routerLink="product-management" routerLinkActive="active"><i class="fab fa-product-hunt icon"></i> <span>Product Management</span></li>
    <li routerLink="product-photo-management" routerLinkActive="active"><i class="fab fa-product-hunt icon"></i> <span>Product Photo Management</span></li>
    <li routerLink="create-post" routerLinkActive="active"><i class="fas fa-plus-circle"></i> <span>Create Post</span></li>
    <li routerLink="browse-content" routerLinkActive="active"><i class="fas fa-globe"></i> <span>Browse Content</span></li>
    <li routerLink="mp4-upload" routerLinkActive="active"><i class="fas fa-upload"></i> <span>Mp4 Upload</span></li>
  </ul>
</div>
