@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  background: #e4ebf7;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}
