<div class="upload-container">
  <div class="row padding">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="image">Upload Image:</label>
            <input type="file" class="form-control" ng2FileSelect #image [uploader]="imageUploader" [accept]="['application/zip']" (change)="checkType($event)"
            />
          </div>
        </div>
      </div>
      <div *ngIf=typeError class="error">
        Please Upload <strong>Zip File</strong> Only.
      </div>
      <div class="row" *ngIf="imageUploader.queue.length">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of imageUploader.queue">
                <td>
                  <strong>{{ item?.file?.name }}</strong>
                </td>
                <td nowrap>{{ item?.file?.size/1024/1024 | number:'.1' }} MB</td>
                <td>
                  <div class="progress" style="margin-bottom: 0;">
                    <span class="progress-percent">{{item.progress}}%</span>
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess">
                    <kbd>Success</kbd>
                  </span>
                  <span *ngIf="!item.isSuccess && !item.isError && !item.isCancel && item.progress == 100">
                    <kbd>Processing</kbd>
                  </span>
                  <span *ngIf="!item.isSuccess && !item.isError && !item.isCancel && item.progress != 100">
                    <kbd>Uploading</kbd>
                  </span>
                  <span *ngIf="item.isCancel">
                    <kbd>Cancelled</kbd>
                  </span>
                  <span *ngIf="item.isError">
                    <kbd>Error</kbd>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card my-5 p-1 mx-4 shadow" *ngIf="imageTable && !typeError">
  <div class="row">
    <div class="col-12">
      <table class="table csvTable border m-0">
        <caption>Product Image Association Table</caption>
        <thead>
          <tr>
            <th>Product Id</th>
            <th  width="70%">Image Link</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of imageTable">
            <td class="text-center">{{data.ProductId}} </td>
            <td class="text-center"><a href="{{data.imageUrl}}">{{data.imageUrl}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card my-5 p-1 mx-4 shadow" *ngIf="imageTableError && !typeError">
  <div class="row">
    <div class="col-12">
      <table class="table csvTable border m-0">
        <caption>Error Table</caption>
        <thead>
          <tr>
            <th>Unknown Files</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of imageTableError">
            <td class="error">{{data.entry}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
