.upload-container {
    width: 50%;
    margin: auto;
    font-size: 1.6rem;
    margin-top: 4rem;
    background: white;
    padding: 3rem;
    box-shadow: .5rem .5rem 2.4rem -1.1rem;
    border-radius: .5rem;
}

.padding-bottom {
    padding-bottom: 1rem;
}